{% extends 'main.html' %}
{% load getlastsurprice %}
{% load getlastnews %}

{% block meta_tags %}
    <title>Ошибка 404— Клиника ДокСтар</title>
{% endblock %}

{% block content %}
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs left-panel">
        {% get_sidebar_surprice %}
        {% get_sidebar_news %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 central-panel">
        <h1>Ошибка 404</h1>
        <p>Запрашиваемой страницы не существует.</p>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 left-panel">
        {% get_bottom_surprice %}
        {% get_bottom_news %}
    </div>
    <div class="clear"></div>
{% endblock %}