{% load staticfiles %}
{% load getsitesettings %}
{% load getmenu %}
<!DOCTYPE html>
<html lang="ru" style="height: auto; min-height: 100%;">
<head>
    {% block meta_tags %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="yandex-verification" content="3b27ff998ecfc32c" />
    <meta name="google-site-verification" content="kqeNhAD4hkppDay8qbBat379lcVVikvUw27riE8qoP8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/adminlte/bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/libs/adminlte/dist/css/AdminLTE.css' %}">
    <link rel="stylesheet" href="{% static 'libs/adminlte/dist/css/skins/_all-skins.min.css' %}">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="{% static  'libs/lightbox/css/lightbox.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/style.css' %}?v=0008"/>
</head>
<body class="skin-red-light sidebar-collapse">
<div class="wrapper">
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-5 site-logo"><a href="/"><img
                        src="/static/media/{{ "logo"|get_site_setting }}"><br/></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-7 pull-right contacts-container">
                    <ul class="contacts">
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{ "phones"|get_site_setting }}
                        </li>
                        <li>
                            {{ "timing"|get_site_setting }}
                        </li>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <a href="https://maps.yandex.ru/?text={{ "address"|get_site_setting }}" target="_blank">{{ "address"|get_site_setting }}</a>,
                            &nbsp;&nbsp;
                            <a href="mailto: {{ "email"|get_site_setting }}">{{ "email"|get_site_setting }}</a>
                            <p class="header-license">
                            	Лицензия № ЛО-40-01-001545 от 23 августа 2018 г. выдана Министерством здравоохранения Калужской области
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% get_header_menu request %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="content-wrapper">
            {% block content %} {% endblock %}
        </div>
        <footer class="main-footer">
            {% get_footer_menu %}
            <div class="">Copyright © 2016 <a href="#">DocStar.ru</a></div>
        </footer>
    </div>
</div>
<script src="{% static 'libs/adminlte/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'libs/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libs/adminlte/dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'libs/lightbox/js/lightbox.js' %}"></script>
<script src="{% static 'js/script.js' %}?v=0002"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48086387 = new Ya.Metrika2({
                    id:48086387,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48086387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
