<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% for m in menu %}
                    {% if m.children is None %}
                        <li class="{{ m.active }}"><a href="{{ m.link }}">{{ m.name }}</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="{{ m.link }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ m.name }}</a>
                            <ul class="dropdown-menu">
                                {% for c in m.children %}
                                    <li><a href="{{ c.link }}">{{ c.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>