{% extends 'main.html' %}
{% load getlastsurprice %}
{% load getlastnews %}

{% block meta_tags %}
    <title>{{ meta_tags.title }} — Клиника ДокСтар</title>
    <meta name="keywords" content="{{ meta_tags.keywords }}">
    <meta name="description" content="{{ meta_tags.description }}">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for b in breadcrumbs %}
            {% if b.active == True %}
                <li><a href="{{ b.link }}">{{ b.title }}</a></li>
            {% else %}
                <li class="active">{{ b.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs left-panel">
        {% get_sidebar_surprice %}
        {% get_sidebar_news %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 central-panel">
        <h1>Контакты</h1>
        <table class="contacts">
            <tr>
                <th>Регистратура:</th>
                <th></th>
            </tr>
            <tr>
                <td>Телефоны:</td>
                <td>{{ site_settings.phones }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><a href="mailto: {{ site_settings.email }}">{{ site_settings.email }}</a></td>
            </tr>
            <tr>
                <th>Адрес:</th>
                <td>{{ site_settings.address }}</td>
            </tr>
        </table>
        <hr>
        <h3>Реквизиты:</h3>
        <p>
            {{ site_settings.bank_data|linebreaks }}
        </p>
        <hr>
        <h3>Администрация:</h3>
        {% for a in administrators %}
            <div class="media">
                <div class="media-left media-middle">
                    <img src="/static/media/{{ a.image }}" class="img-circle" width="140" height="140">
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ a.name }}</h3>
                    <p>{{ a.rank }}<br/>Тел.: <a href="tel.: {{ a.phone }}">{{ a.phone }}</a><br/>Email: <a
                            href="mailto: {{ a.email }}">{{ a.email }}</a></p>
                </div>
            </div>
        {% endfor %}
        <div class="map">
            <script type="text/javascript" charset="utf-8" async
                    src="{{ site_settings.map_link }}"></script>
        </div>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 left-panel">
        {% get_bottom_surprice %}
        {% get_bottom_news %}
    </div>
    <div class="clear"></div>
{% endblock %}