<h2>Свежие новости</h2>
<div class="row">

        {% for n in news %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <a href="/news/{{ n.alias }}/"><img class="img-responsive" src="/static/media/{{ n.image }}"></a>
                    <div class="caption">
                        <h3>{{ n.title }}</h3>
                        <p>{{ n.intro }}</p>
                        <a href="/news/{{ n.alias }}/"><button class="btn btn-sm more-text more-text-padding">Читать полностью</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
<a href="/news/"><button class="btn btn-sm more-text">Все новости</button></a>