{% extends 'main.html' %}
{% load getlastsurprice %}
{% load getlastnews %}

{% block meta_tags %}
    <title>{{ meta_tags.title }} — Клиника ДокСтар</title>
    <meta name="keywords" content="{{ meta_tags.keywords }}">
    <meta name="description" content="{{ meta_tags.description }}">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for b in breadcrumbs %}
            {% if b.active == True %}
                <li><a href="{{ b.link }}">{{ b.title }}</a></li>
            {% else %}
                <li class="active">{{ b.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs left-panel">
        {% get_sidebar_surprice %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 central-panel">
        <h1>Новости</h1>
        <div class="row">
            {% for n in news %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 news-mobile">
                    <div class="thumbnail">
                        <img class="img-responsive" src="/static/media/{{ n.image }}" alt="...">
                        <div class="caption">
                            <h3>{{ n.title }}</h3>
                            {{ n.intro }}
                            <a href="/news/{{ n.alias }}/"><button class="btn btn-sm more-text more-text-padding">Читать полностью</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 left-panel">
        {% get_bottom_surprice %}
    </div>
    <div class="clear"></div>
{% endblock %}