<h2>Последние акции</h2>
        <div class="row">
            {% for s in surprices %}
                <div class="col-xs-6 surprice-on-index">
                    <div class="thumbnail">
                        <a href="/surprices/{{ s.alias }}/"><img class="img-responsive" src="/static/media/{{ s.image }}"></a>
                        <a href="/surprices/{{ s.alias }}/"><div class="caption">
                            <h3>{{ s.title }}</h3>
                            <p>{{ s.intro }}</p>
                        </div></a>
                    </div>
                </div>
            {% endfor %}
        </div>
<a href="/surprices/"><button class="btn btn-sm more-text">Все акции</button></a>