<h2>Последние акции</h2>
<div class="row">
    {% for s in surprices %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 surprice-on-index">
            <div class="thumbnail">
                <a href="/surprices/{{ s.alias }}/"><img class="img-responsive" src="/static/media/{{ s.image }}"></a>
                <div class="caption">
                    <a href="/surprices/{{ s.alias }}/">
                        <h3>{{ s.title }}</h3>
                        <p>{{ s.intro }}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<a href="/surprices/">
    <button class="btn btn-sm more-text">Все акции</button>
</a>