{% extends 'main.html' %}
{% load getlastsurprice %}
{% load getlastnews %}

{% block meta_tags %}
    <title>{{ meta_tags.title }} — Клиника ДокСтар</title>
    <meta name="keywords" content="{{ meta_tags.keywords }}">
    <meta name="description" content="{{ meta_tags.description }}">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for b in breadcrumbs %}
            {% if b.active == True %}
                <li><a href="{{ b.link }}">{{ b.title }}</a></li>
            {% else %}
                <li class="active">{{ b.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs left-panel">
        {% get_sidebar_news %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 central-panel">
        <h1>Акции</h1>
        <div class="row">
            {% for s in surprices %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 surprice-on-index">
                    <div class="thumbnail">
                        <a href="/surprices/{{ s.alias }}/"><img class="img-responsive" src="/static/media/{{ s.image }}" alt="...">
                        <a href="/surprices/{{ s.alias }}/"><div class="caption">
                            <h3>{{ s.title }}</h3>
                            <p>{{ s.intro }}</p>
                        </div></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 left-panel">
        {% get_bottom_news %}
    </div>
    <div class="clear"></div>
{% endblock %}