body {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    height: auto; 
    min-height: 100%;
}

a {
    color: #b22b2b;
}

a:hover {
    color: #942b2b;
    text-decoration: underline;
}

i.fa {
    color: #b22b2b;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.clear {
    clear: both;
}

.site-logo img {
    width: 335px;
    height: 86px;
}

.main-header .contacts {
    float: right;
    text-align: right;
}

.main-header .contacts li {
    list-style-type: none;
    padding-top: 4px;
}

.main-header .contacts li:first-child {
    font-size: 20px;
    font-weight: bold;
    color: rgba(51,51,51,0.61);
}

.main-header .contacts li:nth-child(2), .main-header .contacts li:nth-child(3) {
    font-size: 14px;
}


.main-header .contacts li i {
    font-size: 22px;
}

.main-header .navbar {
    margin-left: 0px;
}

.main-header .navbar a {
    font-size: 14px;
}

/* Бардовая панель */
.skin-red-light .main-header .navbar {
    /*background: #6b2b2b;*/
    background: #b22b2b;
}

.navbar-default .navbar-toggle {
    float: left;
    border-color: #fff;
    border-radius: 0px;
    padding: 18px 18px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,0.1);
}

.content-wrapper {
    -webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
}

.content-gallery {
    margin-left: -10px;
}
.content-gallery a {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.left-panel .directions {
    padding-left: 10px;
    list-style-type: none;
}

.left-panel .directions li {
    margin-bottom: 10px;
}

.more-text {
    margin-top: 10px;
    background-color: #b22b2b;
    color: #fff;
}

.more-text:hover {
    color: #fff;
    background-color: #942b2b;
}

.surprice-on-index .thumbnail {
    cursor: pointer;
}

.surprice-on-index .caption {
    margin-bottom: -62px;
    position: relative;
    bottom: 62px;
    background-color: rgba(178, 43, 43, 0.63);
    color: #fff;
}

.caption h3 {
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 0px;
}

.caption p {
    margin-bottom: 0px;
}

.left-panel ul.news {
    padding-left: 25px;
    list-style-type: none;
}

.left-panel ul.news li {
    margin-bottom: 12px;
}

.left-panel ul.news li::before {
    content: "•";
    color: #b22b2b;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

div.news {
    margin-bottom: 30px;
}

.footer-menu {
    list-style-type: none;
    padding-left: 0px;
}

.footer-menu li {
    display: inline-block;
    margin-right: 10px;
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1199px) {
    .content-wrapper {
        margin-top: 44px;
    }
}

@media (max-width: 991px) {
    .main-header .contacts li:first-child {
        font-size: 16px;
    }

    .main-header .contacts li:nth-child(2), .main-header .contacts li:nth-child(3) {
        font-size: 12px;
    }
    
    .content-wrapper {
        margin-top: 36px;
    }
}

@media (max-width: 682px) {
    .site-logo img {
        width: 250px;
        height: 64px;
    }    
    .main-header .contacts li:first-child {
        font-size: 14px;
    }
    .main-header .contacts li:nth-child(2), .main-header .contacts li:nth-child(3) {
        font-size: 12px;
    }
    .main-header .contacts li {
        padding-top: 0px;
    }
    
    .content-wrapper {
        margin-top: 24px;
    }
}

@media (max-width: 590px) {
    .site-logo, .contacts-container {
        width: 100%;
        text-align: center;
    }
    .main-header .contacts {
        text-align: center;
        float: none;
        padding-left: 0px;
    }
    .main-header .contacts li:first-child {
        font-size: 12px;
    }
    .content-wrapper {
        margin-top: 50px;
    }
}