body {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    font-size: 14px;
    height: auto;
    min-height: 100%;
}

a {
    color: #6b2b2b;
}

a:hover {
    color: #b22b2b;
    text-decoration: underline;
}
.thumbnail a {
    color: white;
}
.thumbnail a:hover {
    text-decoration: none;
    color: white;
}

i.fa {
    color: #6b2b2b;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

hr {
  border-top: 1px solid rgba(107, 43, 43, .1);
}

.clear {
    clear: both;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
}

.site-logo {
	margin-top: 23px;
}

.site-logo img {
    width: 335px;
    height: 86px;
}

.main-header .contacts {
    float: right;
    text-align: right;
}

.main-header .contacts li {
    list-style-type: none;
    padding-top: 4px;
}

.main-header .contacts li:first-child {
    font-size: 20px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.61);
}

.main-header .contacts li:nth-child(2), .main-header .contacts li:nth-child(3) {
    font-size: 14px;
}


.main-header .contacts li i {
    font-size: 22px;
}

.main-header .navbar {
    margin-left: 0px;
}

.main-header .navbar a {
    font-size: 14px;
}

.skin-red-light .main-header .navbar .nav>li>a:hover {
    background: rgba(178, 43, 43, 0.8);
}

.skin-red-light .main-header .navbar .nav>.active>a {
    background: rgba(178, 43, 43, 0.8);
}

/* Бардовая панель */
.skin-red-light .main-header .navbar {
    /*background: #6b2b2b;*/
    background: #6b2b2b;
}

.navbar-default .navbar-toggle {
    float: left;
    border-color: #fff;
    border-radius: 0px;
    padding: 18px 18px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    -webkit-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.75);
    padding-bottom: 20px;
}

.content-gallery {
    margin-left: -10px;
}
.content-gallery a {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.left-panel .directions {
    padding-left: 10px;
    list-style-type: none;
}

.left-panel .directions li {
    margin-bottom: 10px;
}

.more-text {
    background-color: #6b2b2b;
    color: #fff;
}

.more-text-padding {
    margin-top: 10px;
}

.more-text:hover {
    color: #fff;
    background-color: #b22b2b;
}

.surprice-on-index .thumbnail {
    cursor: pointer;
}



.surprice-on-index .caption {
    margin-bottom: -65px;
    position: relative;
    bottom: 65px;
    background-color: rgba(107, 43, 43, 0.63);
    color: #fff;
    padding: 5px;
}

.surprice-on-index .caption h3 {
    font-size: 14px;
}

.surprice-on-index .caption p {
    font-size: 12px;
}

.caption h3 {
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 0px;
}

.caption p {
    margin-bottom: 0px;
}

.left-panel ul.news {
    padding-left: 25px;
    list-style-type: none;
}

.left-panel ul.news li {
    margin-bottom: 12px;
}

.left-panel ul.news li::before {
    content: "•";
    color: #6b2b2b;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

div.news {
    margin-bottom: 30px;
}

.footer-menu {
    list-style-type: none;
    padding-left: 0px;
}

.footer-menu li {
    display: inline-block;
    margin-right: 10px;
}

.timing {
  font-size: 12px;
}

.timing, .timing td, .timing th {
  border: #e9e9e9 solid 1px !important;
}

.timing th {
  background: #d0d0d0;
}

.contacts td {
  vertical-align: top;
}

.map {
  margin-top: 10px;
}

.breadcrumb {
  margin-bottom: 0px;
}

.header-license {
	margin-top: 5px; 
	font-size: 12px; 
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1199px) {
    .content-wrapper {
        margin-top: 44px;
    }
}

@media (max-width: 991px) {
    .main-header .contacts li:first-child {
        font-size: 16px;
    }

    .main-header .contacts li:nth-child(2), .main-header .contacts li:nth-child(3) {
        font-size: 12px;
    }

    .content-wrapper {
        margin-top: 36px;
    }
}

@media (max-width: 682px) {
    .site-logo img {
        width: 250px;
        height: 64px;
    }
    .main-header .contacts li:first-child {
        font-size: 14px;
    }
    .main-header .contacts li:nth-child(2), .main-header .contacts li:nth-child(3) {
        font-size: 12px;
    }
    .main-header .contacts li {
        padding-top: 0px;
    }

    .content-wrapper {
        margin-top: 24px;
    }
}

@media (max-width: 590px) {
	.site-logo {
		margin-top: 0px;
	}
    .site-logo, .contacts-container {
        width: 100%;
        text-align: center;
    }
    .main-header .contacts {
        text-align: center;
        float: none;
        padding-left: 0px;
    }
    .main-header .contacts li:first-child {
        font-size: 12px;
    }
    .content-wrapper {
        margin-top: 50px;
    }
}

@media (max-width: 510px) {
    .col-xs-6.surprice-on-index, .col-xs-6.news-mobile {
        width: 100%;
    }


}
