{% extends 'main.html' %}
{% load getlastsurprice %}
{% load getlastnews %}

{% block meta_tags %}
    <title>{{ meta_tags.title }} — Клиника ДокСтар</title>
    <meta name="keywords" content="{{ meta_tags.keywords }}">
    <meta name="description" content="{{ meta_tags.description }}">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for b in breadcrumbs %}
            {% if b.active == True %}
                <li><a href="{{ b.link }}">{{ b.title }}</a></li>
            {% else %}
                <li class="active">{{ b.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs left-panel">
        {% get_sidebar_surprice %}
        {% get_sidebar_news %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 central-panel">
        <h1>Отзывы</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <p class="help-block help-block-error">{{ form.email.errors|first }}</p>
                    {% endif %}
                </div>
                <div class="form-group {% if form.text.errors %} has-error {% endif %}">
                    {{ form.text }}
                    {% if form.text.errors %}
                        <p class="help-block help-block-error">{{ form.text.errors|first }}</p>
                    {% endif %}
                </div>
                <div class="form-group {% if form.image.errors %} has-error {% endif %}">
                    {{ form.image }}
                    {% if form.image.errors %}
                        <p class="help-block help-block-error">{{ form.image.errors|first }}</p>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-sm more-text">Отправить</button>
            </form>
        {% endif %}
        {% for r in reviews %}
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><span class="label label-default">{{ r.date_added }}</span></h4>
                    <p>
                        {{ r.text|safe }}
                    </p>
                    {% if r.image %}
                        <img src="/static/media/{{ r.image }}" class="img-resposive" width="300"/>
                    {% endif %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 left-panel">
        {% get_bottom_surprice %}
        {% get_bottom_news %}
    </div>
    <div class="clear"></div>
{% endblock %}