{% extends 'main.html' %}
{% load getlastsurprice %}
{% load getlastnews %}

{% block meta_tags %}
    <title>{{ meta_tags.title }} — Клиника ДокСтар</title>
    <meta name="keywords" content="{{ meta_tags.keywords }}">
    <meta name="description" content="{{ meta_tags.description }}">
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for b in breadcrumbs %}
            {% if b.active == True %}
                <li><a href="{{ b.link }}">{{ b.title }}</a></li>
            {% else %}
                <li class="active">{{ b.title }}</li>
            {% endif %}
        {% endfor %}
    </ol>
    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs left-panel">
        {% get_sidebar_surprice %}
        {% get_sidebar_news %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 central-panel">
        <h1>Наша команда</h1>
        {% for e in employers %}
            <div class="media">
                <div class="media-left media-middle">
                    <img src="/static/media/{{ e.image }}" class="img-circle" width="140" height="140">
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{ e.name }}</h3>
                    {{ e.content|safe }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="hidden-lg hidden-md hidden-sm col-xs-12 left-panel">
        {% get_bottom_surprice %}
        {% get_bottom_news %}
    </div>
    <div class="clear"></div>
{% endblock %}